# -------------- **Pandas Basic** --------------

                             "28 January 2024"   - Akanksha

## 1. **Installing Pandas:**

Before you start, make sure to install pandas. You can install it using the following command:

In [17]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

## 2. **Importing Pandas:**

In [18]:
import pandas as pd

## 3. **Creating DataFrames:**

A DataFrame is the primary data structure in pandas, and it can be thought of as a table.

### 3.1 From Lists or Numpy Arrays:

In [19]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

### 3.2 From CSV Files:

```python
df = pd.read_csv('your_file.csv')
```

## 4. **Basic DataFrame Exploration:**

### 4.1 Displaying the DataFrame:

In [20]:
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

### 4.2 Basic Information:

In [22]:

# Display the first few rows
print(df.head())

# Display basic information about the DataFrame
print(df.info())

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

## 5. **Indexing and Selection:**

### 5.1 Selecting Columns:

In [23]:
# Selecting a single column
print(df['Name'])

# Selecting multiple columns
print(df[['Name', 'Age']])

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

### 5.2 Selecting Rows:

In [24]:
# Selecting rows by index
print(df.iloc[0])  # First row

# Selecting rows by condition
print(df[df['Age'] > 30])

Name       Alice
Age           25
City    New York
Name: 0, dtype: object
      Name  Age         City
2  Charlie   35  Los Angeles

## 6. **Manipulating DataFrames:**

### 6.1 Adding Columns:

In [25]:
df['Salary'] = [50000, 60000, 70000]

### 6.2 Removing Columns:

In [26]:
df = df.drop('City', axis=1)

### 6.3 Renaming Columns:

In [27]:
df = df.rename(columns={'Age': 'Years'})

## 7. **Handling Missing Data:**

### 7.1 Checking for Missing Values:

In [28]:
print(df.isnull())

    Name  Years  Salary
0  False  False   False
1  False  False   False
2  False  False   False

### 7.2 Dropping Missing Values:

In [29]:
df = df.dropna()

### 7.3 Filling Missing Values:

In [30]:
df = df.fillna(0)

## 8. **Descriptive Statistics:**

In [31]:
# Summary statistics
print(df.describe())

# Mean of each column
print(df.mean())

       Years   Salary
count    3.0      3.0
mean    30.0  60000.0
std      5.0  10000.0
min     25.0  50000.0
25%     27.5  55000.0
50%     30.0  60000.0
75%     32.5  65000.0
max     35.0  70000.0
Years        30.0
Salary    60000.0
dtype: float64

<ipython-input-31-4feef99ec41e>:5: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.mean())

## 9. **Grouping and Aggregation:**

```python
# Group by 'City' and calculate the average age in each city
grouped_df = df.groupby('City')['Age'].mean()
print(grouped_df)
```

## 10. **Merging and Concatenating:**

### 10.1 Concatenating DataFrames:

In [36]:
df1 = pd.DataFrame({'A': ['A0', 'A1'], 'B': ['B0', 'B1']})
df2 = pd.DataFrame({'A': ['A2', 'A3'], 'B': ['B2', 'B3']})

result = pd.concat([df1, df2], ignore_index=True)

print(result)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

### 10.2 Merging DataFrames:

In [37]:
df1 = pd.DataFrame({'key': ['K0', 'K1'], 'value': ['V0', 'V1']})
df2 = pd.DataFrame({'key': ['K0', 'K1'], 'value': ['V2', 'V3']})

result = pd.merge(df1, df2, on='key')

print(result)

  key value_x value_y
0  K0      V0      V2
1  K1      V1      V3

## 11. **Exporting Data:**

```python
df.to_csv('output.csv', index=False)
```