# -------------- **Data Structures** --------------

                             "13 January 2024"   - Akanksha

## Lists

### 1. Introduction to Lists:
- A list is a versatile and mutable data structure in Python.
- It is an ordered collection of elements, and elements can be of any data type.
- Lists are defined by enclosing comma-separated values within square brackets `[]`.
  ```python
  my_list = [1, 2, 'three', 4.0, True]
  ```

In [11]:
list = [1, 2, 'three', 4.0 , True]

### 2. Indexing and Slicing:
- Lists are indexed starting from 0 for the first element.
- Indexing allows accessing individual elements using their position in the list.
  ```python
  first_element = my_list[0]
  ```
- Slicing allows extracting a subset of elements from the list.
  ```python
  subset = my_list[1:4]  # Returns elements at index 1, 2, and 3
  ```

In [7]:
first_element = list[0]
first_element

1

In [8]:
subset = list[1:4]
subset

[2, 'three', 4.0]

### 3. List Methods:
- Lists come with a variety of built-in methods for manipulation:
  - `append(x)`: Adds element `x` to the end of the list.
  - `extend(iterable)`: Appends elements from an iterable to the end of the list.
  - `insert(i, x)`: Inserts element `x` at index `i`.
  - `remove(x)`: Removes the first occurrence of element `x`.
  - `pop(i)`: Removes and returns the element at index `i`. If `i` is omitted, the last element is removed.
  - `index(x)`: Returns the index of the first occurrence of element `x`.
  - `count(x)`: Returns the number of occurrences of element `x`.
  - `sort()`: Sorts the elements of the list in ascending order.
  - `reverse()`: Reverses the order of the elements in the list.

In [12]:
list.append(5)
list

[1, 2, 'three', 4.0, True, 5]

In [ ]:
list.extend()

In [13]:
list.insert(5, False)
list

[1, 2, 'three', 4.0, True, False, 5]

In [14]:
list.remove(5)
list

[1, 2, 'three', 4.0, True, False]

In [15]:
list.pop()
list #last elements is popped

[1, 2, 'three', 4.0, True]

In [16]:
list.index(2)

1

In [17]:
list.count(2)

1

In [18]:
list.sort() # the list must be homogenous to be sorted

TypeError: '<' not supported between instances of 'str' and 'int'

In [23]:
new_list = [ 4, 7, 8, 3, 2, 1]
new_list.sort()
new_list

[1, 2, 3, 4, 7, 8]

In [24]:
new_list.reverse()
new_list

[8, 7, 4, 3, 2, 1]

### 4. List Comprehension:
- List comprehension provides a concise way to create lists.
- It consists of an expression followed by a `for` clause and, optionally, an `if` clause.
  ```python
  squares = [x**2 for x in range(5)]
  # Result: [0, 1, 4, 9, 16]
  ```

In [35]:
x = [1, 2, 3, 4, 5, 6]
squares = [num**2 for num in x]
squares

[1, 4, 9, 16, 25, 36]

In [37]:
increment = [num+1 for num in x]
increment

[2, 3, 4, 5, 6, 7]

### 5. Nested Lists:
- A list can contain other lists, creating a nested structure.
- This allows for the representation of matrices or more complex data structures.
  ```python
  nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
  ```

In [42]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(nested_list[1])
print(nested_list[1][0])

[4, 5, 6]
4

## Tuples

### 1. Introduction to Tuples:
- A tuple is a collection similar to a list but is immutable.
- It is ordered and allows elements of different data types.
- Tuples are defined by enclosing comma-separated values within parentheses `()`.
  ```python
  my_tuple = (1, 'two', 3.0, True)
  ```

In [55]:
my_tuple = (1, 'two', 3.0, True)

### 2. Immutability:
- One of the main characteristics of tuples is that they are immutable, meaning once a tuple is created, its elements cannot be modified or reassigned.
- While the tuple itself cannot be altered, it can contain mutable objects (e.g., lists) whose elements can be modified.
  ```python
  my_tuple[0] = 5  # Raises an error, as tuples are immutable
  ```

In [44]:
my_tuple[0]= 5

TypeError: 'tuple' object does not support item assignment

### 3. Tuple Unpacking:
- Tuple unpacking allows assigning the elements of a tuple to individual variables.
  ```python
  coordinates = (4, 5)
  x, y = coordinates
  # Now, x is 4 and y is 5
  ```

In [46]:
coordinates = (4, 5)
x, y = coordinates
print(x)
print(y)

4
5

### 4. Tuple Methods:
- Tuples have built-in methods for specific operations:
  - `count(x)`: Returns the number of occurrences of element `x` in the tuple.
  - `index(x)`: Returns the index of the first occurrence of element `x` in the tuple.
  ```python
  my_tuple = (1, 2, 3, 2, 4, 2)
  count_of_2 = my_tuple.count(2)
  # Result: 3 (because 2 appears three times)
  index_of_3 = my_tuple.index(3)
  # Result: 2 (because 3 is at index 2)
  ```

## Sets

### 1. Introduction to Sets:
- A set is an unordered collection of unique elements.
- Sets do not allow duplicate values, and they are defined by enclosing comma-separated values within curly braces `{}`.
  ```python
  my_set = {1, 2, 3, 3, 4, 5}
  # Result: {1, 2, 3, 4, 5} (duplicates are automatically removed)
  ```

In [57]:
my_set = {1, 2, 3, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

### 2. Set Operations:
- Sets support various operations common in mathematical set theory:
  - **Union (`|`):** Combines elements from two sets, excluding duplicates.
  - **Intersection (`&`):** Returns elements common to both sets.
  - **Difference (`-`):** Returns elements present in the first set but not in the second.
  - **Symmetric Difference (`^`):** Returns elements that are in either of the sets but not in both.
  
  ```python
  set1 = {1, 2, 3}
  set2 = {3, 4, 5}
  union_set = set1 | set2
  # Result: {1, 2, 3, 4, 5}
  intersection_set = set1 & set2
  # Result: {3}
  difference_set = set1 - set2
  # Result: {1, 2}
  symmetric_difference_set = set1 ^ set2
  # Result: {1, 2, 4, 5}
  ```

In [61]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | set2
print('Union Set:',union_set)

intersection_set = set1 & set2
print('Intersection Set:',intersection_set)

difference_set = set1 - set2
print('Difference Set:',difference_set)

symmetric_difference_set = set1 ^ set2
print('Symmetric Difference Set:',symmetric_difference_set)

Union Set: {1, 2, 3, 4, 5}
Intersection Set: {3}
Difference Set: {1, 2}
Symmetric Difference Set: {1, 2, 4, 5}

### 3. Set Methods:
- Sets come with several built-in methods for manipulation:
  - `add(x)`: Adds element `x` to the set.
  - `remove(x)`: Removes element `x` from the set. Raises an error if `x` is not present.
  - `discard(x)`: Removes element `x` from the set if it is present. Does not raise an error if `x` is not found.
  - `pop()`: Removes and returns an arbitrary element from the set.
  - `clear()`: Removes all elements from the set.
  
  ```python
  my_set = {1, 2, 3}
  my_set.add(4)
  # Result: {1, 2, 3, 4}
  my_set.remove(2)
  # Result: {1, 3, 4}
  my_set.discard(5)
  # No error, as 5 is not in the set
  popped_element = my_set.pop()
  # Result: popped_element contains the removed element
  ```

In [66]:
my_set = {1, 2, 3}

my_set.add(4)
print('Add method',my_set)

my_set.remove(2)
print('Remove method',my_set)

my_set.discard(5)
print('Discard Method',my_set)

popped_element = my_set.pop()
print('Pop Method',popped_element )

Add method {1, 2, 3, 4}
Remove method {1, 3, 4}
Discard Method {1, 3, 4}
Pop Method 1

### 4. Set Comprehension:
- Similar to list comprehension, set comprehension allows you to create sets in a concise manner.
  ```python
  squares_set = {x**2 for x in range(5)}
  # Result: {0, 1, 4, 9, 16}
  ```

In [68]:
squares_set = {x**2 for x in range(5)}
squares_set

{0, 1, 4, 9, 16}

## Dictionaries

### 1. Introduction to Dictionaries:
- A dictionary is an unordered collection of key-value pairs.
- Each key-value pair in a dictionary maps the key to its corresponding value.
- Dictionaries are defined by enclosing key-value pairs within curly braces `{}`.
  ```python
  my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
  ```

In [69]:
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

### 2. Key-Value Pairs:
- Keys in a dictionary must be unique and immutable (strings, numbers, or tuples usually serve as keys).
- Values can be of any data type and can be duplicated.
- Accessing values is done using square brackets and the key.
  ```python
  name_value = my_dict['name']
  # Result: 'John'
  ```

In [70]:
my_dict['name']

'John'

### 3. Dictionary Methods:
- Dictionaries come with various built-in methods for manipulation:
  - `keys()`: Returns a view of all the keys in the dictionary.
  - `values()`: Returns a view of all the values in the dictionary.
  - `items()`: Returns a view of all key-value pairs in the dictionary as tuples.
  - `get(key, default)`: Returns the value associated with the key or a default value if the key is not present.
  - `pop(key)`: Removes and returns the value associated with the key.
  - `popitem()`: Removes and returns the last key-value pair inserted into the dictionary.
  - `clear()`: Removes all key-value pairs from the dictionary.
  ```python
  keys_list = my_dict.keys()
  # Result: dict_keys(['name', 'age', 'city'])
  values_list = my_dict.values()
  # Result: dict_values(['John', 25, 'New York'])
  items_list = my_dict.items()
  # Result: dict_items([('name', 'John'), ('age', 25), ('city', 'New York')])
  age_value = my_dict.get('age', 0)
  # Result: 25
  removed_value = my_dict.pop('city')
  # Result: 'New York', and my_dict is now {'name': 'John', 'age': 25}
  ```

In [71]:
keys_list = my_dict.keys()

values_list = my_dict.values()
print('Values Lists',values_list)

items_list = my_dict.items()
print('Items Lists',items_list)

age_value = my_dict.get('age', 0)
print('Age Value',age_value)

removed_value = my_dict.pop('city')
print('Removed Value',removed_value)

Values Lists dict_values(['John', 25, 'New York'])
Items Lists dict_items([('name', 'John'), ('age', 25), ('city', 'New York')])
Age Value 25
Removed Value New York

### 4. Dictionary Comprehension:
- Similar to list and set comprehensions, dictionary comprehension allows you to create dictionaries in a concise manner.
  ```python
  squares_dict = {x: x**2 for x in range(5)}
  # Result: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
  ```

In [72]:
squares_dict = {x: x**2 for x in range(5)}