-------------- **Python Decision Making** --------------

                             "10 January 2024"   - Akanksha



---

If - Else Statement

In [3]:
Number = int(input('Enter the number: '))
if Number > 0:
    print('The number is greater than 0')
else:
    print('The number is less than or equal to 0')

Enter the number: 10
The number is greater than 0

If - Elif - Else **Statement**

In [4]:
Number = int(input('Enter the number: '))
if Number == 0:
    print('The number is 0')
elif Number % 2 == 0:
    print('The number is an even number')
else:
    print('The number is an odd number')

Enter the number: 80
The number is an even number

Nested Loops

In [7]:
Marks = int(input("Enter the student's marks: "))

if Marks >= 90:
    grade = 'A'
    distinction = Marks >= 95
elif Marks >= 80:
    grade = 'B'
    distinction = False
elif Marks >= 70:
    grade = 'C'
    distinction = False
elif Marks >= 60:
    grade = 'D'
    distinction = False
else:
    grade = 'F'
    distinction = False

print("Grade:", grade)

if distinction:
    print("Distinction achieved!")

Enter the student's marks: 90
Grade: A

Short Handed If

In [8]:
Number = int(input('Enter the number: '))
if Number > 0 : print ('The Number is greater than 0')

Enter the number: 20
The Number is greater than 0

Short Handed If - Else

In [12]:
Number = int(input('Enter the number: '))
print ('The Number is greater than 0') if Number > 0 else print ('The Number is less than 0')

Enter the number: 10
The Number is greater than 0

Match - Case Statement

In [13]:
flag = int(input('Enter num: '))

match flag:
    case 5 :
        print('Flag = 5')
    case 10 :
        print('Flag = 10')
    case 15 :
        print('Flag = 15')
    case 20 :
        print('Flag = 20')
    case _ :
        print('Not matched')

Enter num: 10
Flag = 10

Match - Case With OR

In [14]:
role = 'Admin'

match role:
    case 'Emp' | 'User':
        print('Not allowed access..')
    case 'Admin':
        print('Allowed access to Admin..')
    case _ :
        print('No role..')

Allowed access to Admin..



---


-------------- Python Loops --------------

There are two types of loops


*   While Loop
*   For Loop



---

While Loop

In [15]:
count = 1
while count<5:
    print(count)
    count += 1

1
2
3
4

While Loop With Else

In [16]:
count = 1
while count<5:
    print(count)
    count += 1
else:
    print('End of else')

1
2
3
4
End of else

Infinite While Loop

In [ ]:
count = 1
while True:
    print(count, end=' ')
    count += 1

For Loop

In [19]:
for i in range(1,5):
    print(i)

1
2
3
4

Nested For Loop

In [20]:
for i in range(1,6):
    for j in range(i):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

Looping Control Statement

In [22]:
for i in range(1,11):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [23]:
for i in range(1,11):
    if i%5==0:
        break
    print(i)

1
2
3
4

In [24]:
for i in range(5):
    pass

print('Nothing done')

Nothing done