-------------- **Functions** --------------

                             "11 January 2024"   - Akanksha

A function is a block of code that performs a specific task.

In [1]:
# user-defined function
def hello():
    print('Hi World')
hello()    #function calling

Hi World

In [2]:
# Function along parameter
def addition(n1,n2):
    print(n1+n2)
addition(50,50)

100

In [3]:
# Call by value - immutable data types are called by value
def increment(n):
    n += 1
    print('In function: '+str(n))

n=10
print('Before function: '+str(n))
increment(n)
print('After function: '+str(n))

Before function: 10
In function: 11
After function: 10

Function Return type

In [5]:
# function
def find_square(num):
    result = num * num
    return result
#calling function
square = find_square(10)

print('Square:',square)

Square: 100

**Types of functions**

1. Default Arugument

In [6]:
def adds(n1,n2=50):
    print(n1,'+',n2,'=',n1+n2)

adds(10)
adds(10,10)

10 + 50 = 60
10 + 10 = 20

2. Keyword Arguments

In [ ]:
def show(first_name, last_name):
    print('First Name:', first_name)
    print('Last Name:', last_name)

show(last_name = 'Akanksha', first_name = 'Rao')

3. Positional Arguments

In [ ]:
def prints(age,name):
    print(age,name)

prints('Akanksha',20)
prints(20,'Akanksha')

4. Arbitary Arguments

In [9]:
#find sum of multiple numbers
def find_sum(*numbers):
    result = 0
    for num in numbers:
        result = result + num
    print("Sum = ", result)

find_sum(1, 2, 3)

Sum =  6

Function Within Function

In [10]:
def f1():
    print('Function 1 body..')
    def f2():
        print('Function 2 body..')
    f2()
    print('Function 1 body..')

f1()

Function 1 body..
Function 2 body..
Function 1 body..

Anonymous Lambda Function

In [11]:
sqr = lambda x:x**2
print(sqr(10))

100

In [12]:
sqr = lambda x:x+10
print(sqr(10))

20



---

**Python Recursion**

Recursion is the process of defining something in terms of itself.

In [13]:

def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))

x = int(input("Enter the number:"))
print("The factorial is", factorial(x))

Enter the number:5
The factorial is 120



---

In [14]:
def row(n):
    if n < 1:
        return
    print("*", end=" ")
    row(n - 1)

def pattern(n):
    if n < 1:
        return
    row(n)
    print("")
    pattern(n - 1)

n = 5
pattern(n)

* * * * *
* * * *
* * *
* *
*